header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
width: 100vw;
}

body{

  /* background-color: #f2d5bd; */
overflow-X: hidden;
}

.headercontainer{
  width: 100vw;
display: flex;
align-items: center;
justify-content: center;
position: fixed;
backdrop-filter: blur(5px);
width: 100vw;
box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.07);
background-color: rgba(255, 255, 255, 0.214);
z-index: 10;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;

}
header img{
max-width: 80px;
height: auto;
}
header .icon{
  font-size: 30px;
  cursor: pointer;
  color: #1f2730;
}
.mainsection{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainsectioncontent{
  padding: 100px;
  font-family: "BBH Sans Hegarty","sans-serif";
  width: 98vw;

}
.mainsectioncontent h2{
  font-size: 40px;
    color: #1f2730;

}
.mainsectioncontent h1{
    line-height: 0.8;
  font-size: 100px;

}
.Productslider{
  display: flex;
  width: 100%;
  overflow-y: auto;
  gap: 5px;
  padding: 10px 10px 10px 50px;

}
.maxw{
  max-width: 1380px;

}
.Productslider::-webkit-scrollbar {
  display: none;
}
.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  
}
.product{
  height: 400px;
  min-width: 280px;
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 10px 0 10px;
transition: 0.3s ease all;
cursor: pointer;
  transform: scale(1);
position: relative;
}
.added{
  position: absolute;
  top: -30px;
  height: 30px;
  width: 60%;
  right: 0;
  background-color: green;
  z-index: 100;
  border-radius: 10px;
  color: WHITE;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: 0.2s ease all;
}
.added.active{
    top: 10px;
}
.product:hover img{
  transform: scale(1.1);
}
.product:hover h5{
font-size: 22px;;
}
.product p{
      font-size: 18px;

}
.productpage .buttonscontainer button{
transition: 0.3s ease all;
}
.productpage .buttonscontainer button:hover{
filter: brightness(0.8);
}
.product h5{
  display: flex;
  position: relative;
      font-size: 20px;
  font-weight: bold;

}
.product p{
      font-size: 15px;

}
.product h5,.product p{
  padding: 0px 15px;
  text-align: left;
  width: 100%;
  margin: 0;
transition: 0.3s ease all;
}
.mainsectioncontent button{
  padding: 10px 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  backdrop-filter: blur(5px);
font-size: 40px;
gap: 15px;
display: flex;
align-items: center;
border-radius: 10px;
transition: 0.3s ease all;
}
.mainsectioncontent button:hover{
  padding: 10px 30px;
  border: none;
  background-color: #f2d5bd0f;
  color: white;
  backdrop-filter: blur(5px);
font-size: 41px;
gap: 15px;
display: flex;
align-items: center;
border-radius: 10px;
transform: rotate(-1deg);
}
.product .imgcontainer{
width: 100%;
  max-height: 70%;
  min-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.addtocarthvrbtn{
  position: absolute;
  top:-50px;
  right: 30px;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 50px;
  transition: 0.3s ease all;
    transform: scale(1);
}
.addtowshlsthvrbtn{
  position: absolute;
  top:-50px;
  right: 30px;
  border: 2px solid black;
  background-color: rgb(255, 43, 43);
  color: white;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 50px;
  transition: 0.3s ease all;
    transform: scale(1);
}
.product:hover .addtocarthvrbtn{
    top: 20px;
}
.product:hover .addtowshlsthvrbtn{
  
    top: 60px;
}
.addtocarthvrbtn:hover,.addtowshlsthvrbtn:hover{
  transform: scale(1.1);
box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.24);
}
.product .imgcontainer img{
width: 100%;
min-width: 100%;
height: 100%;
transition: 0.3s ease all;
object-fit: cover;
}
.startinganimation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2d5bd;
  z-index: 100;
  opacity: 0;
  transition: 0.2s ease all;
  pointer-events: none;
}
.startinganimation.active{
  opacity: 1;
    pointer-events: all;

}
.startinganimation .imgcontainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.startinganimation img {
  width: 200px;
  height: 200px;
}
.startinganimation .imgcontainer.active{
  animation: revealOverflow 1s forwards;
}

.startinganimation.active  img {
  animation: slide_and_rotate 2s ease-in-out infinite;
}

@keyframes slide_and_rotate {

  0% {
    transform: translateY(0) rotate(0deg); 
  }

  60% {
    transform: translateY(0) rotate(360deg); 
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}
 
@keyframes revealOverflow {
  0% { overflow: hidden; }
  40% { overflow: hidden; } /* keep hidden during slide */
  100% { overflow: visible; }
}

/* Background fade */
@keyframes fadeOutBg {
  0% { opacity: 1; }
  100% { opacity: 0; pointer-events: none; }
}
.signinwithgoogle{
  transition: 0.3s ease all;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.297);
  width: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 15px;
}
.signinwithgoogle p{
  margin: 0;
  font-size: 15px;
}
.signinwithgoogle:hover{
  background-color: rgb(234, 234, 234) !important;
}
.navlink{
  color: inherit;
  text-decoration: inherit;
}
.poductdetailscontainer{
  display: flex;
  flex-direction: column;
}
.catimgcontainer{
  overflow: hidden;
  border-radius: 10px;
position: relative;
}
.catimgcontainer p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(-15deg);
  font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight: bold;
  opacity: 0;
  left: 50%;
  transition: 0.3s ease all;
  white-space: pre;
}
.followourinsta{
  margin-top: 50px;
}
.followourinsta h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
text-align: center;
}
.catimgcontainer:hover p{
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
cursor: pointer;
opacity: 1;
}
.catimgcontainer img{
max-width: 100%;
aspect-ratio: 1/1;
object-fit: cover;
max-height: 400px;
transition: 0.2s ease all;
}
.catimgcontainer:hover img{
scale: 1.1;
transform: rotate(5deg);
cursor: pointer;
filter: brightness(0.5);
}
.instaimgcontainer{
  max-width: 100%;
  position: relative;
}
.instaimgcontainer img{
max-width: 100%;
aspect-ratio: 1/1;
object-fit: cover;
max-height: 250px;
transition: 0.2s ease all;
cursor: pointer;
transition: 0.2s ease all;
}
.instaimgcontainer:hover img{
filter: brightness(0.5);
}

.instaimgcontainer p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(-180deg) scale(0.5);
  font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight: bold;
  opacity: 0;
  left: 50%;
  transition: 0.3s ease all;
  white-space: pre;
}
.instaimgcontainer:hover p{
    transform: translateY(-50%) translateX(-50%) rotate(0deg) scale(1);
cursor: pointer;
opacity: 1;
}
footer{
  background-color: black;
  padding: 50px 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
footer a:visited,footer a,footer a:focus, footer a:active{
  color: black;
  text-decoration: none;
  padding: 10px;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
border-radius: 100%;
transition: 0.2s ease all;
}
footer a:hover{
filter: brightness(0.5);
}
.slider .pagination{
  border: none;
  padding: 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag{
border: 1px solid rgb(120, 120, 120) ;
border-radius: 10px;
padding: 2px 5px;
font-size: 15px;
display: inline-block;
}

.tag button{
padding: 5px;
font-size: 10px;
}
.tagscontainer input{
border: 1px solid #dee2e6;
padding: 5px 15px;
width: 100%;
margin-bottom: 10px;
border-radius: 5px;
}
.searchcontainer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.389);
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease all;
}
.searchcontainer.active{
  opacity: 1;
pointer-events: all;
}
.searchcontainer .searchbar{
  width: 500px;
  background-color: white;
  height: 98%;
  right: 8px;
  border-radius: 10px;
  position: absolute;
  top: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease all;
      transform: translateX(105%);

}
.searchcontainer.active .searchbar{
  width: 600px;
  background-color: white;
  height: 98%;
  right: 8px;
  border-radius: 10px;
  position: absolute;
  top: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
    transform: translateX(0%);

}
header button {
  border: none;
  background-color: inherit;
}
.searchbar input:focus{
outline: none;
border: 1px solid rgb(0, 0, 0) !important;

}
.searchbar input{
outline: none;
border: 1px solid rgba(0, 0, 0, 0.112) !important;
border-radius: 10px;
padding: 10px;
}
.searchresultcontainer{
  overflow-y: auto;
  width: 100%;
}
.searchresult{
  display: flex;
  gap: 15px;
    cursor: pointer;

}
.searchresult:hover h4{
  text-decoration: underline;
}
.searchresult img{
  max-width: 100px;
  width: 100px;
  max-height: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.freeshipping{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inicatorcontainer{
width: 50%;
height: 5px;
border-radius: 50px;
background-color: #f2d5bd;
overflow: hidden;
display: flex;
}
.indicator{
  background-color:#8d3f30;
  height: 100%;
  transition: 0.3s ease all;
}